body{
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  border-radius: 8px;
  background: #1f2933;
  color: white;
}

.login-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-container input {
  padding: 0.6rem;
  border-radius: 4px;
  border: none;
}


.login-container button {
  width: 100%;
  padding: 0.7rem;
  background: #3b82f6;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: #f87171;
  margin-top: 1rem;
}

.hidden{
    display: none;
}